:root {
	--mdc-cherry-raw: 352, 70%, 50%;
	--mdc-naranjo-raw: 19, 97%, 51%;
	--mdc-mango-raw: 44, 100%, 52%;
	--mdc-lime-raw: 112, 83%, 41%;
	--mdc-turquoise-raw: 171, 62%, 54%;
	--mdc-azul-raw: 217, 100%, 61%;
	--mdc-grape-raw: 265, 83%, 57%;
	--mdc-bubblegum-raw: 334, 100%, 50%;
	--mdc-slate-raw: 60, 1%, 14%;
	--mdc-adobe-raw: 240, 24%, 94%;

	--mdc-cherry: hsl(var(--mdc-cherry-raw));
	--mdc-naranjo: hsl(var(--mdc-naranjo-raw));
	--mdc-mango: hsl(var(--mdc-mango-raw));
	--mdc-lime:  hsl(var(--mdc-lime-raw));
	--mdc-turquoise: hsl(var(--mdc-turquoise-raw));
	--mdc-azul: hsl(var(--mdc-azul-raw));
	--mdc-grape: hsl(var(--mdc-grape-raw));
	--mdc-bubblegum: hsl(var(--mdc-bubblegum-raw));
	--mdc-slate: hsl(var(--mdc-slate-raw));
	--mdc-adobe: hsl(var(--mdc-adobe-raw));
}

* {
	font-family: 'Didact Gothic', sans-serif;
	box-sizing: border-box;
}

.mdc {
	font-weight: 900;
  background: linear-gradient(270deg, var(--mdc-azul), var(--mdc-grape), var(--mdc-bubblegum), var(--mdc-naranjo));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body, html {
	background-color: var(--mdc-adobe);
	color:  var(--mdc-slate);
}

body {
	display: flex;
	max-width: 69ch;
	flex-direction: column;
	margin: 48px auto;
	padding: 32px;
	background-color: white;
	border-radius: 16px;
	box-shadow: -0.25rem 0.25rem 0 var(--mdc-bubblegum), 
		-0.5rem 0.5rem 0 var(--mdc-grape),
		-0.75rem 0.75rem 0 var(--mdc-azul);
}

body {
    font-size: 20px;
}

@media all and (max-device-width: 720px){
    body {
        font-size: 18px;
    }
}

@media all and (max-device-width: 640px){
    body {
        font-size: 16px;
    }
}

@media all and (max-device-width: 320px){
    body {
        font-size: 14px;
    }
}

.logo-header {
	width: 100%;
}

header h2	{
	color: var(--mdc-azul);
	font-size: 2rem;
}

section h1 {
	display: inline-block;
	font-weight: 900;
  background: linear-gradient(270deg, var(--mdc-azul), var(--mdc-grape));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin: 1rem 0 .3rem 0;
}

section h2 {
	display: inline-block;
	font-weight: 700;
  background: linear-gradient(270deg, var(--mdc-grape), var(--mdc-bubblegum));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 1.25rem;
	color: var(--mdc-grape);
}

h3 {
	color: inherit;
	font-size: 1.25rem;
}

a {
	color: var(--mdc-azul);
	font-weight: 900;
  position: relative;
  text-decoration: none;
  z-index: 10;
}

a::before {
  background: var(--mdc-mango);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1.01);
  transform-origin: left;
}

b {
	color: var(--mdc-bubblegum);
}

ul {
	list-style: none;
}

li::before {
	color: var(--mdc-grape);
	content: "⤧ ";
	position: relative;
	top: -2px;
}

footer {
	width: 100%;
	text-align: center;
	margin-top: 5vh;
	font-size: 1rem;
}